@use "sass:color";

$unit: 10px;

$font-size: 14px;
$font-family: "Jetbrains Mono";

$size-radius: 5px;

$color-background: #fff;
$color-background-dark: #041e39;
$color-text: #000101;
$color-text-secondary: #939393;
$color-text-light: #fff;
$color-gray: #f4f4f4;
$color-blue: #2f81f7;
$color-red: #bc4b51;
$color-green: #89b82d;

// Media Breakpoints

$media-xs: 600px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;

// Shadows

$shadow-xs: 0 1px 3px -1px rgba(#000, .2);

// Mixins

@mixin with-outline($background, $opacity: 0.4) {
    &:focus {
        outline: 3px solid rgba($background, $opacity);
    }
}

@mixin with-font {
    font-family: $font-family, monospace;
}
