<!DOCTYPE html>

<html lang="{{ lang }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="shortcut icon" href="/favicon.svg"/>

    <title>{{ title }}</title>
</head>
<body>
    <noscript>Javascript support is essential to run the application.</noscript>
    <main id="root"></main>
</body>
</html>
